<aside>
  <menu>
    <a href="https://github.com/64J0">
      <i data-feather="github"></i>
    </a>
    <a href="https://www.linkedin.com/in/vinicius-gajo/">
      <i data-feather="linkedin"></i>
    </a>
    <a href="https://www.facebook.com/vinicius.nevermind">
      <i data-feather="facebook"></i>
    </a>
    <a href="https://www.instagram.com/viniciusgajo/">
      <i data-feather="instagram"></i>
    </a>
    <a href="https://twitter.com/viniciusgajo">
      <i data-feather="twitter"></i>
    </a>
  </menu>
</aside>