<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      description="description"
      content="Um site SPA (Single Page Application) que oferece a possibilidade de encurtar os links que o usuário desejar."
    />
    <meta name="keywords" content="url, urlcurto, encurtador, links" />
    <meta name="author" content="Vinícius Gajo Marques Oliveira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/icons8-fita-de-bookmark-64.png"
    />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/aside.css" />
    <title>Encurtador de URL</title>

    <!-- Feather Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>
  <body>
    <aside class="menu">
      <menu>
        <a href="https://github.com/64J0">
          <i data-feather="github"></i>
        </a>
        <a href="https://www.linkedin.com/in/vinicius-gajo/">
          <i data-feather="linkedin"></i>
        </a>
        <a href="https://www.facebook.com/vinicius.nevermind">
          <i data-feather="facebook"></i>
        </a>
        <a href="https://www.instagram.com/viniciusgajo/">
          <i data-feather="instagram"></i>
        </a>
        <a href="https://twitter.com/viniciusgajo">
          <i data-feather="twitter"></i>
        </a>
      </menu>
    </aside>

    <main>
      <h1>Encurtador de URL</h1>
      <form action="" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">URL</label>
        <input
          required
          type="url"
          name="fullUrl"
          id="fullUrl"
          placeholder="Url"
          class="form-control col mr-2"
        />
        <button type="submit" class="btn btn-primary">Encurtar</button>
      </form>

      <div id="results" class="visible form-inline">
        <input
          id="input-results"
          class="form-control col mr-2"
          value="<%= newUrl.shortUrl %>"
        />
        <button
          onclick="copyContent()"
          id="btn-results"
          class="btn btn-success"
        >
          Copiar!
        </button>
      </div>

      <div id="illustration">
        <img src="images/Cityscapes - Downtown.png" alt="Ilustração para deixar o site mais bonito">
      </div>

      <footer>
        <strong>Código do projeto:</strong>
        <a href="https://github.com/64J0/UrlEncurtador">
          <i data-feather="file-text"></i>
        </a>
      </footer>
    </main>

    <!-- Função para copiar o conteúdo do input -->
    <script>
      function copyContent() {
        let copyText = document.getElementById("input-results");
        //copyText.value = window.location.href + copyText.value;

        copyText.select();
        copyText.setSelectionRange(0, 99999);

        document.execCommand("copy");
      }

      // Para o feather-icons funcionar
      feather.replace();
    </script>
  </body>
</html>
